* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: #141e30;
  background: -webkit-linear-gradient(
    to right,
    #243b55,
    #141e30
  );
  background: linear-gradient(
    to right,
    #243b55,
    #141e30
  );
}

.princ {
  margin-right: 15%;
  margin-left: 15%;
  background-color: rgb(57, 62, 70);
  border-radius: 39px 39px 0 0;
  height: calc(100vh - 0px);
  width: calc(100vw - 30%);
}

#haut-de-page {
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
  grid-template-columns: 100px 125px 125px 50px;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
  background-color: rgba(4, 0, 255, 0.685);
  transition: all 0.3s ease;
}

#haut-de-page:hover {
  scale: 1.03;
}

#profil {
  position: absolute;
  right: 20px;
  top: 15px;
}

.logo {
  display: flex;
  width: 60px;
  border-radius: 15px;
  margin: 5px 0 5px 0;
}

.logo:hover {
  opacity: 0.9;
  cursor: pointer;
}
a,
h1 {
  text-decoration: none;
  color: black;
  font-size: 40px;
  font-weight: 600;
  font-family: "Golos Text", sans-serif;
}

/** au dessous de 125% **/
@media screen and (max-width: 1500px) {
  a,
  h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .logo {
    width: 50px;
    border-radius: 15px;
  }
  #haut-de-page {
    grid-template-columns: 75px 100px 100px 90px;
  }
}

/** au dessous de 150% **/
@media screen and (max-width: 1200px) {
  a,
  h1 {
    font-size: 28px;
    font-weight: 600;
  }
  .logo {
    width: 43px;
    border-radius: 13px;
  }
  #haut-de-page {
    grid-template-columns: 65px 100px 80px 90px;
  }
}
