* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: rgb(57, 62, 70);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888888 #f0f0f0;
}
body ::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
}
body ::-webkit-scrollbar-track {
  background-color: rgb(15, 15, 15);
  border-radius: 4px;
}
body ::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 4px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  background-color: rgb(34, 40, 49);
  color: #fff;
}
.navbar .logo {
  width: 40px;
  height: 40px;
}
.navbar .logo video {
  height: 40px;
  filter: none;
}
.navbar .categories {
  display: flex;
  list-style: none;
  list-style-type: none;
}
.navbar .categories a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin-left: 20px;
}