@import "../var" ;

* {
  padding: $default;
  margin: $default;
  box-sizing: border-box;
}

.allways {
  display: grid;
  grid-template-columns: 30% 70%;
  height: 100vh;

  .game-board {
    background-color: $backgroud;
  }
  
  .menu {
    background-color: $backgroud;
    border-right: 2px solid black;
    padding: 10px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;

    .top-menu {
      display: flex;
      justify-content: space-between;
      
      span {
        color: white;
      }

      button {
        background-color: transparent;
        border: none;
        color: white;
        font-size: 16px;
        margin-right: 10px;
        cursor: pointer;

        i {
          margin-right: 10px;
        }

      }
    }

    .choose-map {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10%;
      margin: 30px;

      .map {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        overflow: hidden;

        img {
          position: absolute;
          translate: (-50%, 50%);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .menu-options-titre {
      h1 {
        font-size: 20px;
        margin-bottom: 10px;
      }
    }

    .difficulty, .food, .border-checkbox {
      margin-bottom: 10px;
      
      label {
        font-size: 16px;
      }
      
      select, input[type="checkbox"] {
        background-color: transparent;
        padding: 5px;
        margin-top: 5px;
        
        &:focus {
          outline: none;
        }
      }
    }
  }
}














// /* Styles pour le menu */
// .menu {
//   background-color: $backgroud;
//   padding: 20px;
  
//   .top-menu {
//     display: flex;
//     align-items: center;
    
//     button {
//       background-color: transparent;
//       border: none;
//       color: red;
//       font-size: 16px;
//       margin-right: 10px;
//       cursor: pointer;
//     }
//   }
  
//   .choose-map {
//     img {
//       width: 50px;
//       height: 50px;
//       margin-right: 10px;
//     }
//   }
  
//   .menu-options-titre {
//     h1 {
//       font-size: 20px;
//       margin-bottom: 10px;
//     }
//   }
  
//   .difficulty, .food, .border-checkbox {
//     margin-bottom: 10px;
    
//     label {
//       font-size: 16px;
//     }
    
//     select, input[type="checkbox"] {
//       background-color: transparent;
//       padding: 5px;
//       margin-top: 5px;
      
//       &:focus {
//         outline: none;
//       }
//     }
//   }
// }
