/* Variables pour la personnalisation */

$backgroud : #393E46; 
$default : 0;

@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "valorantFont";
  src: url("../police/valorant/valorant-font.ttf");
  font-weight: normal;
  font-style: normal;   
}
