@import "_var";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
}

body::-webkit-scrollbar-track {
  width: 5px;
  border-radius: 4px;
  background: $backgroud;
}

body::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 4px;
  background: gray;
}

body {
  height: 100vh;
  overflow: hidden;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: rgba(57, 62, 70, 1);
  overflow-y: scroll;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
  background-color: rgba(34, 40, 49, 1);
  color: #fff;

  .logo {
    width: 40px;
    height: 40px;
    cursor: pointer;

    video {
      height: 40px;
      filter: none;
    }
  }

  .categories {
    display: flex;
    list-style: none;
    list-style-type: none;

    a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      margin-left: 20px;
    }
  }
}
