@import "_var";

*,
::after,
::before {
  padding: $default;
  margin: $default;
  box-sizing: border-box;
}

@font-face {
  font-family: "valorantFont";
  src: url("../police/valorant-font.ttf");
  font-weight: normal;
  font-style: normal;
}

img {
  width: 50px;
  height: 50px;
}

#navbarVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 7.5vw;

  #logoValo {
    @include center;
    height: 12.5vh;
  }

  #valoDesign {
    @include center;
    height: 10vh;
    transform: rotate(-90deg);
  }

  #tiret {
    @include center;
    height: 10vh;
  }
  #website {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #exit {
    @include center;
    height: 12.5vh;
  }
}

#design {
  .valoDesign {
    font-family: valorantFont;
  }
}
