@import "_var";

*,
::after,
::before {
  padding: $default;
  margin: $default;
  box-sizing: border-box;
}

@font-face {
  font-family: "valorantFont";
  src: url("../police/valorant/valorant-font.ttf");
  font-weight: normal;
  font-style: normal;   
}

img {
  width: 50px;
  height: 50px;
}

#navbarVertical {
  @include center;
  flex-direction: column;
  height: 100vh;
  width: 5vw;
  background-color: rgb(17, 15, 26);

  #logoValo {
    @include center;
    height: 12.5vh; 
  }

  #valoDesign {
    @include center;
    height: 10vh;
    transform: rotate(-90deg);
    font-size: 80%;
  }

  #tiret {
    @include center;
    height: 10vh;
  }

  #exit {
    @include center;
    height: 12.5vh;
  }

  #espacement {
    height: 2.5vh;
  }
}

.valoDesign {
  font-family: valorantFont;
  color: rgb(54, 54, 54);
}

body {
  background: rgb(44,38,49);
  background: linear-gradient(85deg, rgba(44,38,49,1) 5%, rgba(53,39,51,1) 65%, rgba(29,35,47,1) 85%);
}

#website {
  @include baseGrid;
  height: 30vh;
  
  .icon {
    height: 35px;
    width: 35px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}