* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333333;
  text-align: center;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li:last-child {
  margin-right: 0;
}

.navbar a, .navbar h1{
  color: white;
  text-decoration: none;
  font-size: 25px;
  cursor: pointer;
  font-family: 'Franklin Gothic Medium',Arial, sans-serif;
  font-weight: 100;
}

.navbar h1 {
  line-height: 40px;
}

.navbar .logo {
  height:  40px;
  width: 40px;
  cursor: pointer;
  margin-right: 10px;
}

.logo {
  filter: none;
}

