* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background: #141e30;
  background: linear-gradient(to right, #243b55, #141e30);
  font-family: arial, sans-serif;
}

main {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fff;
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 18%;
  padding: 3rem;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
}

#login-form h2 {
  color: #fff;
  margin-bottom: 40%;
  font-size: 35px;
}

#login-form label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative;
}

#login-form input[type="text"],
#login-form input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-left: 1rem;
  border: none;
  border-radius: 5px;
}

#login-form input[type="text"]:focus,
#login-form input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #1a1a1a;
}

#login-form button[type="submit"] {
  background-color: #02b3e4;
  border: none;
  color: #fff;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#login-form button[type="submit"]:hover {
  background-color: #02a2c4;
}

#login-form a {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.fa-regular {
  position: absolute;
  top: 25%;
  left: 88%;
  cursor: pointer;
}


