/* Variables pour la personnalisation */
@font-face {
  font-family: "valorantFont";
  src: url("../police/valorant-font.ttf");
  font-weight: normal;
  font-style: normal;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 50px;
  height: 50px;
}

#navbarVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 7.5vw;
  background-color: rgb(73, 49, 190);
}
#navbarVertical #logoValo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5vh;
}
#navbarVertical #valoDesign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  transform: rotate(-90deg);
}
#navbarVertical #tiret {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
#navbarVertical #website {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#navbarVertical #website img {
  width: 30px;
  height: 30px;
}
#navbarVertical #exit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5vh;
}

.valoDesign {
  font-family: valorantFont;
  color: rgb(54, 54, 54);
}