/* Variables pour la personnalisation */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "valorantFont";
  src: url("../police/valorant/valorant-font.ttf");
  font-weight: normal;
  font-style: normal;
}
img {
  width: 50px;
  height: 50px;
}

#navbarVertical {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 5vw;
  background-color: rgb(17, 15, 26);
}
#navbarVertical #logoValo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5vh;
}
#navbarVertical #valoDesign {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  transform: rotate(-90deg);
  font-size: 80%;
}
#navbarVertical #tiret {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
#navbarVertical #exit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5vh;
}
#navbarVertical #espacement {
  height: 2.5vh;
}

.valoDesign {
  font-family: valorantFont;
  color: rgb(54, 54, 54);
}

body {
  background: rgb(44, 38, 49);
  background: linear-gradient(85deg, rgb(44, 38, 49) 5%, rgb(53, 39, 51) 65%, rgb(29, 35, 47) 85%);
}

#website {
  display: grid;
  align-items: center;
  height: 30vh;
}
#website .icon {
  height: 35px;
  width: 35px;
}
#website .icon img {
  width: 100%;
  height: 100%;
}