* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(to bottom right, rgba(79,51,176,1), rgba(210,53,165,1));
}

a {
  text-decoration: none;
  color: #fff;
}

.contenaire {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

.calculatrice {
  position: relative; 
  height: auto;
  width: auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

.dark {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 1;
}

.dark .light {
  color: #333;
}
.dark .light::before {
  background-color: #fff;
}

.dark::before {
  content: "";
  height: 30px;
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #333;
  z-index: -1;
}

.ecran {
  margin: 0 10px;
  height: 150px;
  width: auto;
  max-width: 270px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 30px;
  margin-bottom: 20px;
  overflow-x: scroll;
}

.ecran::-webkit-scrollbar {
  height: 3px;
  display: block;
}

button {
  height: 60px;
  width: 60px;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  font-size: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.15);
}

.btn-egal{
  height: 130px;
}

/* dark  */

.calculatrice .dark {
  background-color: #071115;
}

.calculatrice.dark .ecran {
  color: #f0fafb;
}

.calculatrice button#clear {
  background-color: #2d191e;
  color: #bd3740;
}

.calculatrice button.btn-nombre {
  background-color: #1b2f38;
  color: #f8fafb;
}

.calculatrice button.btn-operation {
  background-color: #2e1f39;
  color: #aa00a4;
}


































/* Ne pas touche */

/* light */

/* .calculatrice {
  background-color: #fff;
}

.calculatrice .ecran {
  color: #0a1e23;
}

.calculatrice button#egal {
  background-color: #ffd5d8;
  color: #fc4552;
}

.calculatrice button.btn-nombre {
  background-color: #c3eaff;
  color: #000;
}

.calculatrice button.btn-operation {
  background-color: #ffd0fd;
  color: #f967f3;
}

.calculatrice button.btn-egal {
  background-color: #adf9e7;
  color: #000;
} */

/* light */

/* Ne pas toucher  */